doctype html
html(ng-app="myApp")
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(rel='stylesheet', href='/static/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/_generate/css/result.css')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js')
    script(src='/_generate/js/output.min.js')  
    script.
      function data(data) {
        window.data = data;
      }   
      data(!{JSON.stringify(title)});

      
  body(ng-controller='myController')
    block content